*.secret
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
.idea*
/.bundle
/vendor/bundle
/vendor/cache
/vendor/gems
/vendor/specifications
/vendor/bin
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
.project
